* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1 rem = 10px */ }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  background-image: url(../../media/img/fondoPlaca.jpg);
  font-size: 1.6rem;
  display: grid;
  justify-items: center;
  row-gap: 2em; }

img {
  width: 100%; }

h1 {
  font-size: 3.8rem;
  color: #0d0d0d; }

h2 {
  font-size: 3.4rem;
  text-align: center; }

h3 {
  font-size: 3rem; }

h4 {
  font-size: 2.6rem; }

header {
  background-color: #7ed923;
  width: 100%;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  header a {
    text-decoration: none; }
  header button {
    background-color: inherit;
    border: 0; }
    header button :hover {
      cursor: pointer; }

main {
  background-color: #fff;
  width: 80%;
  border-radius: 1em;
  display: grid;
  justify-content: center;
  row-gap: 3em;
  padding: 1.5em; }
  main section {
    padding: 1em;
    border: 1px solid #0d0d0d;
    width: 100%; }
    main section .price {
      display: flex;
      justify-content: space-around;
      align-items: center; }
  main .btn-ver-mas {
    width: 100%; }
  main ul {
    width: 25%; }
    main ul li {
      list-style-type: none; }
  @media only screen and (min-width: 768px) {
    main {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1em; }
      main .btn-ver-mas {
        grid-column: span 2; } }
  @media only screen and (min-width: 992px) {
    main {
      grid-template-columns: repeat(3, 1fr); }
      main .btn-ver-mas {
        grid-column: span 3; } }

aside {
  background-color: #fff;
  width: 70%;
  padding: 2em;
  display: none;
  position: absolute;
  top: 5em;
  right: 0; }
  aside ul {
    display: grid; }
    aside ul li {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-around;
      border: 1px solid #0d0d0d;
      align-items: center;
      justify-items: center; }
      aside ul li h4 {
        grid-column: 1 / 4; }
  aside a {
    display: block;
    width: fit-content;
    text-decoration: none; }

.carr-fin .btn, .carr-fin aside a, aside .carr-fin a, .carr-fin .btn-click {
  display: none; }

.formulario div {
  display: grid;
  justify-items: center; }
  .formulario div ul {
    width: 50%; }

.formulario p {
  text-align: right;
  margin-right: 3em; }

.formulario form {
  display: grid;
  row-gap: 1em; }
  .formulario form div input,
  .formulario form div select {
    width: 90%; }
  .formulario form div .error {
    color: red; }
  .formulario form .tarjeta {
    row-gap: 1em; }
    .formulario form .tarjeta div {
      width: 100%; }
    .formulario form .tarjeta .tarjeta-fechas {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%; }

.formulario p {
  align-self: flex-end; }

.formulario .exito {
  color: #7ed923; }

.carta {
  display: grid;
  position: fixed;
  right: 1em;
  bottom: 1em;
  width: 25%; }
  .carta div {
    background-color: #fff;
    display: grid;
    text-align: center;
    width: 100%;
    padding: 1em;
    border-radius: 0.5em; }

.btn, aside a, .btn-click {
  color: #fff;
  background-color: #7ed923;
  padding: 0.5em;
  border-radius: 0.5em;
  border: none;
  transition: 500ms; }
  .btn:hover, aside a:hover, .btn-click:hover {
    color: #0d0d0d;
    background-color: #6bb91d;
    transform: scale(1.05); }

.btn-click:hover {
  background-color: #1f52e0;
  color: #fff; }
